Hardware/Design Files/PSU_01-backups/*
Firmware/PSU01.ioc
Hardware/Design Files/~\[06] - UI.kicad_sch.lck
Hardware/Design Files/~PSU_01.kicad_sch.lck
Hardware/Project Outputs/ARCHIVE.zip
Hardware/Project Outputs/PSU01_Gerbers-JLC.zip
Hardware/Project Outputs/Gerbers/PSU_01-B_Cu.gbl
Hardware/Project Outputs/Gerbers/PSU_01-B_Mask.gbs
Hardware/Project Outputs/Gerbers/PSU_01-B_Paste.gbp
Hardware/Project Outputs/Gerbers/PSU_01-B_Silkscreen.gbo
Hardware/Project Outputs/Gerbers/PSU_01-Edge_Cuts.gm1
Hardware/Project Outputs/Gerbers/PSU_01-F_Cu.gtl
Hardware/Project Outputs/Gerbers/PSU_01-F_Mask.gts
Hardware/Project Outputs/Gerbers/PSU_01-F_Paste.gtp
Hardware/Project Outputs/Gerbers/PSU_01-F_Silkscreen.gto
Hardware/Project Outputs/Gerbers/PSU_01-In1_Cu.g2
Hardware/Project Outputs/Gerbers/PSU_01-In2_Cu.g3
Hardware/Project Outputs/Gerbers/PSU_01-NPTH-drl_map.gbr
Hardware/Project Outputs/Gerbers/PSU_01-PTH-drl_map.gbr
Hardware/Project Outputs/Gerbers/Drill/PSU_01-NPTH.drl
Hardware/Project Outputs/Gerbers/Drill/PSU_01-PTH.drl
Hardware/Project Outputs/Pick-n-Place/PSU_01-bottom.pos
Hardware/Project Outputs/Pick-n-Place/PSU_01-top.pos
psu01-v1 (Copy)/*